# IDEA
.idea/loopback-connector-google-cloud-datastore.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml

.DS_Store

# Node
node_modules

# CI/CD
.github
Dockerfile.test
docker-compose.yml
jest.config.js

# Other
yarn-error.log
.huskyrc
tsconfig.json
.prettierrc.js
.eslintrc
.eslintrc.js

